body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.currency-list {
    margin-bottom: 20px;
    max-width: 600px; 
    margin: 0 auto; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
  }
  
  .currency-list h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }

.currency-list ul {
    list-style: none;
    padding: 0;
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px; 
  }
  
  .currency-list li {
    padding: 8px 15px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
  }
  
  .currency-list li:hover {
    background-color: #f0f0f0;
  }
  
  .currency-list li span {
    margin-right: 5px; 
  }

h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
  }

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;

    label{
        margin-right: 10px;
    }
}

input[type="text"],
button {
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
}

/* Additional CSS for button layout */
.buttons-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .buttons-container button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .buttons-container button:hover {
    background-color: #0056b3;
  }
  
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  table th,
  table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  table th {
    background-color: #f2f2f2;
  }