:root {
    --primary-color: #3498db; 
    --primary-hover-color: #2980b9; 
    --border-color: #444; 
    --background-color: rgb(6, 35, 45);
    --text-color: #fff; 
    --table-header-color: #333; 
    --table-border-color: #ddd;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color); 
    color: var(--text-color);
    /* cursor: url("../public/assets/images/gold-coin-cursor.png"), auto; */
  }  
  
  .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .currency-list {
    text-align: center;
    margin-bottom: 20px;
    max-width: 600px;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
  }

  .currency-list ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .currency-list li {
    padding: 8px 15px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
  }
  
  .currency-list li:hover {
    border-color: var(--background-color);
    background-color: var(--text-color);
    color: var(--background-color);
  }

  .currency-info{
    margin-bottom: 20px;
    max-width: 300px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 1.25em;
  }
  
  h2 {
    font-size: 1.75em;
  }
  
  .form-container {
    max-width: 300px;
    margin-top: 10px;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .input-container{
    position: relative;
  }

  input[type="text"], select{
    background-color: var(--background-color);
    color: var(--text-color);
    width: calc(100% - 18px); 
    padding: 8px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    font-size: 1em;
    margin-bottom: 10px;
  }

  select {
    width: 10px;
    position: absolute;
    right: 4px;
    background-color: transparent;
    border: none;
  }
  
  .buttons-container {
    display: flex;
    gap: 5px;
    margin-top: 10px;
  }
  
  .buttons-container button {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    font-size: 1em;
    margin-bottom: 10px;
  }
  
  .buttons-container button:hover {
    background-color: var(--primary-hover-color);
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  table th,
  table td {
    border: 1px solid var(--table-border-color);
    padding: 8px;
    text-align: left;
  }
  
  table th {
    background-color: var(--table-header-color);
  }

  .scroll-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  
  .scroll-to-top.show {
    opacity: 1;
    visibility: visible;
  }
  
  .scroll-to-top button {
    appearance: none;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
  }
  
  .scroll-to-top button:hover {
    background-color: var(--primary-hover-color);
  }